body {
  font-family: Arial, sans-serif;
}
.container {
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.terminal {
  padding: 1rem;
  overflow-y: auto;
  font-family: "Fira Code", monospace;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  flex-grow: 1;
  max-height: 70%;
}
